body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  min-height: 100vh;
  min-width: 100vh;
  overflow: hidden;
  font-size: 14px;
  background: linear-gradient(to bottom, #464343 0%, #464343 60%, rgb(37, 35, 36)100%);
  color: black;
  font-family: sans-serif;
}

#header {
  height: 80px; 
  display: flex;
  align-items: center; 
  padding: 0 10px; 
  background-image: linear-gradient(to right, #6e6a6a, #3e3e42);
}

#header img {
  height: 150px; 
  margin-right: 10px; 
  opacity: 1.5;
}

#header nav a {
  padding: 0 10px;
  line-height: 50px; 
  font-size: 18px; 
  color: #000; 
  position: relative;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s; 
  display: inline-block;
  
}

#header nav a:hover {
  color: rgb(255, 0, 0);
  transform: translateY(4px); 
}

#character-table-container {
  max-height: 85vh; 
  overflow-x: hidden;
}

#character-table {
  margin-left: 25px;
  text-align: left;
}

#character-table tr td {
  padding-top: 10px;  
  padding-bottom: 10px;  
}

#character-table-container:hover {
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 3px;
}

#main-content {
  position: relative; 
  display: flex;
  justify-content: flex-start;
}

#info-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: auto;
  background-color: #333;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 70%;
  border-radius: 5px;
}

#title-info-container {
  margin: 0;
  font-size: 25px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#info-header img {
  float: right; /* Alignement de l'image à droite */
}

#all-info {
  overflow: auto;
  width: 100%;
  margin-top: 10px;
  display: block; 
  float: right; 
}

#table-info-container {
  border-collapse: collapse;
}


#table-info-container td {
  word-wrap: break-word;
  font-size: 12px;
  border: 1px solid #444;
  padding: 5px;
}

.clicked {
  filter: brightness(0.3);
}

/* background for perks */

.perkbackground{
  background-image: url('../../img/very_rare.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* hover text for perks */

.image-container {
  position: relative;
}

.image-container span {
  position: absolute;
  bottom: 10px; 
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  transition: opacity 0.3s ease; 
}

.image-container:hover span {
  opacity: 1;
}

/* Perks description */

.uncommon-rarity-color {
  color: #e8c252
}

.rare-rarity-color {
  color: #199b1e
}

.veryrare-rarity-color {
  color: #ac3ee3;
}

.FlavorText {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  color: burlywood;
}


.subtitle-info {
  padding: 10px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
